* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

header h1 {
  background-color: red;
  padding: 7px;
}

.navbar {
  background-color: black;
  overflow: hidden;
}

.navbar li {
  display: inline;
  overflow: hidden;
}

.navbar li a {
  text-decoration: none;
  color: red;
  padding: 5px;
  overflow-x: hidden;
}

.navbar li a:hover {
  color: royalblue;
  font-weight: bolder;
  padding: 2px;
}

.line {
  background-color: blue;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

.yay {
  border: 14px red solid;
  padding: 5px;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

.yay p {
  padding: 14px;
  text-align: center;
}

.yay2 {
  border: 14px seagreen solid;
  padding: 5px;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

.yay2 p {
  padding: 14px;
  text-align: center;
}

@media (max-width: 600px) {
  .image {
    height: 250px;
  }
}
